@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

body {
    background-color: aquamarine;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    /* font-family: 'Fira Mono',serif; */
}

html, body {
    overflow: hidden;
}

.wait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 80vh;
}

.text {
    font-size: 80pt;
    text-align: center;
}
