.container {
    font-size: 30pt;
    margin-top: 10%;
    -webkit-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.container:hover {
    color: grey;
    font-size: 60pt;
}