.container {
    font-size: 30pt;
    margin-top: 10%;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;
}

.container:hover {
    color: grey;
    font-size: 60pt;
}